.textCautat{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cutie{
    border: 2px solid blue;
    text-align: center;
    background-color: aqua;
    padding: 5px;
    width:35px;
    height: 35px;
}

.spatiu{
    border:1px solid rgb(233, 232, 232);
    background-color: rgb(233, 232, 232);
    width:35px;
    height: 35px;

}

header img{
    width:70%;
    height:30%;
    margin: 2% 15% 5%;
    border-radius: 20px;
}

body{
    background-image: url("../img/bck.jpg");
    background-size: cover;
}

h1{
    color:blue;
    font-size: 18px;
    text-align: center;
}

h2{
    color:rgb(35, 35, 75);
    font-size: 15px;
    text-align: center;
}


